<h1>Система управления пользователями</h1>

<p><a href="/User/Register">Регистрация</a></p>
<p><a href="/User/Login">Войти в систему</a></p>
<p><a href="/User/Download">Скачать файл</a></p>
<p><a href="/User/Settings">Настройки</a></p>

