<h1>Вход в систему</h1>

<form action="/User/Login/" method="post">
    <input type="text" placeholder="Username" name="username"/>
    <input type="text" placeholder="Password" name="password"/>
    <input type="submit" value="Войти в систему"/>
</form>