<h1>Регистрация</h1>

<form action="/User/Register/" method="post">
    <input type="text" placeholder="Username" name="username"/>
    <input type="text" placeholder="Password" name="password"/>
    <input type="submit" value="Зарегистрироваться"/>
</form>